@charset "UTF-8";

.footer-wrapper{
  margin-left: auto;
  margin-right: auto;
  /* max-width: 90rem; */
  width: 1440px;
  padding-top: 3rem;
  padding-bottom: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap :1rem;
  color: #f2f2f2;
  

}
.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  flex-wrap: wrap;
  border-bottom: 0.0625rem solid #FFFFFF;
  
}
.logo-container{
  /* color: #FFFFFF; */
	width: 6.25rem;
}

.logo-container a img{
  width: 100%;
  object-fit: contain;
}
a{
  text-decoration: none;
}
.menu-list{
  margin: 0;
  margin-right: 4.25rem;
  padding-left: 0;
  list-style: none;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
}
.menu-list li a{
  display: inline-block;
  padding: 0.825rem 1rem;
  color: inherit;
}
.menu-list li:hover{
  color:gold;
  font-weight: 600;
}
.copyright {
  color: var(--blue-gray-300, #cbd5e1);
  text-align: center;
  font-size: var(--regular-13px-font-size, 14px);
  font-weight: var(--regular-13px-font-weight, 400);
  position: relative;
}