@charset "UTF-8";

.header_wrapper {

  margin-left: auto;
  margin-right: auto;
  /* max-width: 1440px; */
  width: 1440px;
  height: 62px;
  display: flex;
  background: var(--grayscale-white, #ffffff);
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: stretch;
}
/* 미디어쿼리용버튼 기본값hidden */
.menu-contaner{
  display: none;

}
.menu-contaner>button{
  all:unset;
}



/* ------- */
#logo_container {
  display: flex;
  align-items: center;
  /* background-color: black; */
}

.nologo_container {
  display: flex;
  align-items: center;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.menu_cotainer {
  display: flex;
  justify-content: space-between;
}

/* .menu_cotainer *{
  flex-shrink: 0;
} */

.menu_title {
  display: flex;
  align-items: center;
  /* background-color: black; */
  color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;

}

.header-btn-container,
.header-btn-container * {
  box-sizing: border-box;
}

.header-btn-container {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.bell-img-container {
  background: inherit ;
  border:none; 
  box-shadow:none; 
  border-radius:0; 
  padding:0; 
  overflow:visible; 
  cursor:pointer;

  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.bell {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  object-fit: cover;
}

.verticalbar-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-list-item {
  background: rgba(0, 0, 0, 0.08);
  flex-shrink: 0;
  width: 1px;
  height: 36px;
  position: relative;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.btn-login {
  background: var(--grayscale-white, #ffffff);
  border-radius: 8px;
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0 0 0 1px #0066ff inset;
  border-style: none;
}

.text-btn-login {
  color: var(--grayscale-800, #606060);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}

.btn-reg {
  background: #0066ff;
  border-radius: 8px;
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: #ffffff;
  border-style: none;
}

.text-btn-reg {
  color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;

}