@charset "UTF-8";

#modify , #idchk , #pwchk , #emailchk , #postchk{
	font-size: 15px;
	background-color: #0066FF;
	color: white;
	font-family: inherit;
	border: none;
	border-radius: 10px;
	padding: 10px;
	min-height: 10px;
	min-width: 90px;
}
.inputbox-container{
	display : flex;
	justify-content: flex-start;
	gap:1rem;
	flex-grow:0;
	align-items: flex-start;
	margin: 20px 0;
}
 #idchk{
	flex-grow: 0;
} 
.button-container{
	align-self: center;
	flex-grow: 1;
	display : flex;
	justify-content: flex-start;
}
.modifyBtn-container{
	display :flex;
	justify-content: flex-start;
	margin-top : 40px;
	margin-bottom: 40px;
}
.modify_insert{
	display: flex;
	justify-content: center; 
	align-items: center;
}
.input-box {
	position: relative;
/* 	margin: 40px 0; */
}

.input-box>input {
	background: transparent;
	border: none;
	border-bottom: solid 1px #ccc;
	padding: 30px 0px 5px 0px;
	font-size: 15pt;
	width: 400px;
}

input::placeholder {
	color: transparent;
}

input:placeholder-shown+label {
	color: #aaa;
	font-size: 14pt;
	top: 15px;
}

input:focus+label, label {
	color: #8aa1a1;
	font-size: 15pt;
	pointer-events: none;
	position: absolute;
	left: 0px;
	top: 0px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown){
	border-bottom: solid 1px #0066FF;
	outline: none;
}

}
.input[type=submit] {
	
}
