.main-body {
	width: 1220px;
}
a:link{color: black;}
a:visited,a:active{color: black;}
a:hover{
	color: #0066ff;
}
.main-contents * {
  box-sizing: border-box;
}
/* 키워드 */
.registrationed_alarm {
    display: flex ;
    text-align: left;
    font-size: 15px;
    padding-left: 5px;
}
.registrationed_alarm_keywords_list {
	font-size: 13px;
    display: flex;
    text-align: left;
    margin-top: 3px;
}
.item_tag_01 {
	font-weight: bold;
	background-color: #F7E8FF;
	color: #8910D9;
	border-radius: 100px;
	padding : 4px 6px 4px 6px;
	margin-right: 40px;
}

.item_tag_02 {
	font-weight: bold;
	background-color: #E8F1FF;
	color: #0250EC;
	border-radius: 100px;
	padding : 4px 6px 4px 6px;
	margin-right: 40px;
}

.item_tag_03 {
	font-weight: bold;
	background-color: #FFE5E8;
	color: #D20319;
	border-radius: 100px;
	padding : 4px 6px 4px 6px;
	margin-right: 40px;
}

.item_tag_04 {
	font-weight: bold;
	background-color: #FFEFE4;
	color: #EE5800;
	border-radius: 100px;
	padding : 4px 6px 4px 6px;
	margin-right: 40px;
}

.item_tag_05 {
	font-weight: bold;
	background-color: #D8F7E6;
	color: #00692A;
	border-radius: 100px;
	padding : 4px 6px 4px 6px;
}

/* 검색창 프레임 */

.searchbar-container {
  /* background-color: aquamarine; */
  padding-top: 1rem;
  align-self: stretch;
  padding: 0px 30px;
  width:1220px;
}

.searchbar-container form {
  display: flex;
  flex-direction: column;
}
/*날짜 선택 버튼  */
.form-date-btn:hover {
  cursor: pointer;
}
.form-date-btn {
  background: #fafafa;
  border-radius: 12px;
  border-style: solid;
  border-color: #d6e6fe;
  border-width: 1px;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  cursor: poninter;
}
.div-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.div {
  color: #000000;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
}

.searchbar-mutil-group {
  display: flex;
  flex-wrap: wrap;
}

.searchbar-select-group {
  display: flex;
  /* position: relative; */
  justify-content: space-between; 
  margin-bottom: 30px;
}

.searchbar-title {
  width: 7.5rem;
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.searchbar-title>span {
  padding: 0.8rem 1rem;
  /* text-decoration: underline;
  font-weight: 400; */
}

.searchbar-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 1rem;
  gap: 10px;
  /* justify-content: flex-start; */
}

.searchbar-content>span {
  padding: 0.8rem 1rem;

}

.searchbar-content>input {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 0.8rem;
  border-width: 0.0625rem;
  font-family: "Noto Sans KR", sans-serif;
  box-shadow: none;
}

.searchbar-content>select {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", sans-serif;
  border-width: 0.0625rem;
}
.searchbar-title>select {
  padding: 0.5rem 1rem 0.5rem 0.2rem ;
  margin-left: 1rem;
  border-radius: 10px;
  font-size: 0.8rem;
  font-family: "Noto Sans KR", sans-serif;
  border-width: 0.0625rem;
}

.search-btn-block {
  margin-top: 1rem;
  border-top: 0.0625rem solid #EAECF0;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.search-btn-block>button:hover {
  cursor: pointer;
}

.search-btn-block>button:not([class]) {
  background: #0066ff;
  border-radius: 8px;
  padding: 10px 16px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  color: #ffffff;
  border-style: none;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}
	/*검색 초기화 버튼  */
	.reset {
  border-radius: 8px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  border: 1px solid #D0D5DD;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
}
.div {
  color: #606060;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  align-items: center;
}

/* table */
.content-wrapper {
	display: flex;
	width: 1160px;
	justify-content: space-between;
	margin: auto;
}

.content-container {
	border: 2px solid #ffffff;
	border-radius: 5px;
	width: 1160px;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 6px 0px
		rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.14);
}
/*테이블 상단 캡션  */
.table-caption-wrapper{
   display: flex;
   justify-content: space-between; 
   
}
.talbe-caption-container{
   display: flex;
	align-items: center; 
   
}
.table-caption{
   padding-left: 15px;

}
.table-caption-item{
   padding-right: 15px;
}
span.caption-total{
   color: #0066ff;
}
.list-control-container {
   height: 83px;
   display: flex;
   align-items: center;
   
}

.btn-list {
	/* border-radius: 8px; */
	padding: 10px 16px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	position: relative;
	color: #ffffff;
	border-style: none;
}

#btn-delete {
	border-radius: 8px;
	margin-right: 10px;
	background-color: #7F56D9;
	color: white;
	font-family: inherit;
}

#btn-write {
	border-radius: 8px;
	margin-right: 10px;
	background-color: white;
	color: black;
	font-family: inherit;
	border: 1px solid #D8D8D8;
}

.info-table {
	width: 1160px;
	border-collapse: collapse;
	table-layout: fixed;
}

.info-table th {
	background-color: #FAFAFA;
	border: 1px solid #FAFAFA;
	font-size: 14px;
	height: 50px;
	border-bottom: 1px solid #EAECF0;
	/* 글넘침 방지 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
}
.info-table tr>th:first-child, .info-table tr>td:first-child{
	width: 50px;

}
.table-title{
	width: 900px;
	padding-left: 20px;
    text-align: left;
}

.info-table td {
	background-color: white;
	font-size: 14px;
	height: 80px;
	color: #101828;
	text-align: center;
	border-top: 1px solid #EAECF0;
	/* 글넘침 방지 */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
}

.table-check-box {
	width: 18px;
	height: 18px;
	border-radius: 35%;
	border: 1px solid #999;
	appearance: none;
	cursor: pointer;
	transition: background 0.2s;
}

input[type="checkbox"]:checked {
	background: #0066ff;
	border: none;
}

input[type="checkbox"]:hover {
	background: #E2F4FF;
	border: none;
}

.ctrl-icon {
	width: 40px;
	height: 40px;
}
/* page */
.result-container {
   width: 1180px;
   margin : 59px auto;
}
.page-container {
  font-size: calc(1rem*14/16);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.page-container a:hover{
  background-color: #E2F4FF
}

.currentOftotal {
  display: flex;
}

.currentOftotal>span {
  margin-left: 0.5em;
}

.currentOftotal>span[class] {
  color: #0066ff;
}

.page-container ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.page-container a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.pagelist-container {
  display: flex;
  align-items: center;
}

.pagelist-container>li[class]>a {
  margin-top: 0.5em;
  padding: 0;
}

ul.pagelist-container>li:not([class])>a {
  padding: 0.5em;
}

.btn-next>a>img {
  transform: rotate(180deg);
}

ul.switchBtn-container {
  display: flex;
  padding-left: 0.5em;
}

ul.switchBtn-container>li {
  margin-right: 1rem;
  width : 77px;
  flex-shrink: 0;
  flex-basis :77px;
}

ul.switchBtn-container>li>a {
  display: block;
  border-radius: 8px;
  padding: 0.3em 0.6em;
  border: 1px solid #D0D5DD;
  text-align: center;
}

/* 현재페이지인 a태그에 색상 표시 */
ul.pagelist-container>li:not([class]) span.currpage {
    display: inlinblock;
    color: #0066ff;
    padding: 0.5em;
}
#btn-search {
	border-radius: 8px;
	padding: 6px 14px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	position: relative;
	color: #ffffff;
	border-style: none;
	background-color: white;
	color: black;
	font-family: inherit;
	border: 1px solid #D8D8D8;
}
#btn-search-all {
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	padding: 6px 14px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	position: relative;
	color: #ffffff;
	/* border-style: none; */
	background-color: #FAFAFA;
	color: black;
	font-family: inherit;
	border: 1px solid #D8D8D8;
	border-right: none;
}
#btn-search-item {
	
	padding: 6px 14px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	position: relative;
	color: #ffffff;
	/* border-style: none; */
	background-color: white;
	color: black;
	font-family: inherit;
	border: 1px solid #D8D8D8;
	border-right: none;
}
#btn-search-ani {
	
	padding: 6px 14px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	position: relative;
	color: #ffffff;
	/* border-style: none; */	
	background-color: white;
	color: black;
	font-family: inherit;
	border: 1px solid #D8D8D8;
	border-right: none;
}
#btn-search-key {
	
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	padding: 6px 14px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	position: relative;
	color: #ffffff;
	border-style: none;	
	background-color: white;
	color: black;
	font-family: inherit;
	border: 1px solid #D8D8D8;
}
#btn-search-alarm {
	border-radius: 8px;
	padding: 6px 14px;
	display: flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	position: relative;
	color: #ffffff;
	border-style: none;
	margin-right: 10px;
	background-color: white;
	color: black;
	font-family: inherit;
	border: 1px solid #D8D8D8;
}

/* 검색결과 리스트 프레임 */
.result-wrapper {
	display: flex;
	width: 1160px;
	margin: auto;
}
.result-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14.375rem, auto));
  grid-auto-rows: minmax(20rem, auto);
  /* grid-auto-columns: minmax(100px, auto); */
  row-gap: 10px;
  column-gap: 12px;
  /* justify-content: center; */
  /* background-color: antiquewhite; */
}

.list-card {
  background: #ffffff;
  padding: 15px 10px 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  /* min-width: 230px; */
  max-width: 14.375rem;
  height: 99%;
  position: relative;
  box-shadow:
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-photo {
  width: 14rem;
  height: calc(0.5625rem*14);
  /* background-color: #0066ff; */
  border-radius: 8px;
}

.card-photo>img {

  object-fit: cover;
  width: 100%;
  height: 100%;
}

.content-items {
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-title {
  font-size: calc(1rem*15/16);
  margin-bottom: 1rem;
}

.item-title>span {
  padding: 0.4em 0.4em;
}

.item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: calc(1rem*13/16);
  font-weight: 400;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.item-details>li {
  display: flex;
}

.item-details>li>span {
  padding: 0.4em 0.4em;
}

.item-details>li>span:not(.detail-title) {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.detail-title {
  flex-shrink: 0;
}

.result-totnum-container {
	display: flex;
	width: 1160px;
	justify-content: space-between;
	margin: auto;
	color : #0066ff;
}
.list-control-container>a{
	color : #0066ff;
}
.list-control-container>a:hover{
	color : gold;
}