@charset "UTF-8";

.side-nav-container ul {
  list-style: none;
  padding-left: 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;

}

.side-nav-container a {
  text-decoration: none;
  color: inherit;
  display: block;
}

li.menu-title {
  font-size: calc(1rem*15/16);
  padding: 0.5em;
  padding-left: 0;
  border-bottom: calc(1em*2/16) solid #363636;
}

li.menu-item {
  font-size: calc(1rem*14/16);
  font-weight: 400;

}

li.menu-item>a {
  padding: 0.5em;
}

li.menu-item>a:hover {
  background-color: #E2F4FF;
}
